.best-sellers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 98px;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 214px;
    height: 250px;
    margin: 0 85px 44px 0;
  }

  &__title {
    margin: 0 0 30px;
  }

  &__description {
    margin: 0 0 40px;
    font-weight: 400;
  }

  .slider {
    width: 100%;
    margin: 0;

    &__item {
      width: 220px;
      height: 297px;
    }
  }

  .product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 230px;
    height: 312px;

    &__title {
      z-index: 1;
      margin: 0 10px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.45;
      text-align: center;
    }

    &__description {
      z-index: 1;
      margin-top: 0;
      margin-bottom: 9px;
      font: normal 13px/1.45 Mplus, Arial, sans-serif;
      color: #9a9da0;
      text-align: center;
    }

    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background: #d1c7bd;
      transform: translate(-50%, -50%);
    }

    &__link {
      position: relative;
      z-index: 1;
      padding-bottom: 3px;
      margin: 0 10px 25px;
      text-align: center;
      text-decoration: none;
      transition: opacity 0.6s;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        background: $blue-zodiac-color;
      }

      &:active,
      &:focus,
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
