.best-sellers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 98px;
  overflow: hidden;

  @include extra-large {
    padding-left: 45px;
  }

  @include medium {
    position: relative;
    flex-direction: column;
    padding: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 214px;
    height: 250px;
    margin: 0 85px 44px 0;

    @include extra-large {
      margin: 0 40px 44px 0;
    }

    @include medium {
      align-items: center;
      height: auto;
      margin: 0;
      margin-bottom: 50px;
    }
  }

  &__title {
    margin: 0 0 30px;

    @include medium {
      margin: 0 0 10px;
    }
  }

  &__description {
    margin: 0 0 40px;
    font-weight: 400;

    @include medium {
      margin: 0;
    }
  }

  &__button {
    @include medium {
      display: none;
    }

    &--mobile {
      display: none;

      @include medium {
        display: flex;
        margin-top: 40px;
      }
    }
  }

  .slider {
    width: 100%;
    margin: 0;

    &__item {
      width: 220px;
      height: 297px;

      @include medium {
        width: 220px;
        height: 297px;
      }
    }

    &__button-container {
      display: flex;
      column-gap: 32px;
      justify-content: flex-end;
      margin: 25px 98px 0 0;

      @include extra-large {
        margin-right: 45px;
      }

      @include medium {
        display: none;
      };
    }

    &__button {
      position: static;
      z-index: 0;
      display: block;
      width: 26px;
      height: 12px;
      margin: 0;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      outline: 0;
      transition: transform 0.3s, opacity 0.6s;

      &:hover {
        opacity: 0.6;
      }

      &:first-child:hover {
        transform: translate(-5px);
      }

      &:last-child:hover {
        transform: translate(5px);
      }
    }
  }

  .product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 230px;
    height: 312px;

    @include medium {
      width: 220px;
      height: 297px;
    }

    &__title {
      z-index: 1;
      margin: 0 10px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.45;
      text-align: center;
    }

    &__description {
      z-index: 1;
      margin-top: 0;
      margin-bottom: 9px;
      font: normal 13px/1.45 Mplus, Arial, sans-serif;
      color: #9a9da0;
      text-align: center;
    }

    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background: #d1c7bd;
      transform: translate(-50%, -50%);
    }

    &__link {
      position: relative;
      z-index: 1;
      padding-bottom: 3px;
      margin: 0 10px 25px;
      text-align: center;
      text-decoration: none;
      transition: opacity 0.6s;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        background: $blue-zodiac-color;
      }

      &:active,
      &:focus,
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
