.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #dbdce0;
  transition: background-color 0.6s, border-color 0.6s;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1366px;
    min-height: 100px;
    padding: 0 98px;
    margin: 0 auto;
  }

  &--transparent {
    background: 0 0;
    border-color: transparent;
  }

  &--colored {
    background-color: $white-color;
    border-color: #dbdce0;
  }

  &__content {
    display: flex;
  }

  &__menu-button {
    display: none;
    padding: 0;
    cursor: pointer;
    background: url("Images/sprite/burger-icon.svg") no-repeat left center/24px 12px transparent;
    border: none;
    outline: 0;
    transition: 0.2s;

    @include extra-large  {
      display: block;
      width: 24px;
      height: 18px;
    }

    &--active {
      background: url("Images/sprite/cross-icon.svg") no-repeat 0 0/18px 18px;
    }

    &:active,
    &:hover,
    &:focus {
      opacity: 0.6;
      transition: 0.2s;
    }
  }

  .logo {
    cursor: pointer;
    transition: opacity 0.6s;

    &:hover {
      opacity: 0.6;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    margin-right: 51px;

    &__list {
      display: flex;
      column-gap: 35px;
      list-style: none;
    }

    &__item {
      font-size: 16px;
      line-height: calc(24 / 16);
    }

    &__link {
      color: #122947;
      text-decoration: none;
      transition: opacity 0.6s;

      &:hover {
        opacity: 0.6;
      }
    }

    &__contacts {
      display: none;
    }

    @include extra-large {
      position: absolute;
      top: 100px;
      left: 0;
      display: none;
      flex-direction: column;
      row-gap: 60px;
      align-items: flex-start;
      width: 100%;
      min-height: 380px;
      padding: 50px 45px;
      overflow: auto;
      background-color: $cultured-color;
      box-shadow: 0 4px 30px rgb(214 214 214 / 0%);
      transition: top 0.6s ease-out;

      &__list {
        flex-direction: column;
        row-gap: 40px;
      }

      &__item {
        font-size: 32px;
        line-height: 1.25;
      }

      &__contacts {
        display: flex;
        column-gap: 45px;
      }
    }

    @include medium {
      top: 75px;
      min-height: 350px;
      padding: 40px 15px 50px;

      &__list {
        row-gap: 35px;
      }

      &__item {
        font-size: 28px;
        line-height: 1.3;
      }

      &__contacts {
        column-gap: 30px;
      }
    }

    @include medium {
      min-height: 75px;
    }
  }

  .user-menu {
    display: flex;
    column-gap: 30px;

    &__link {
      color: #122947;
      transition: opacity 0.6s;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
