.promotion {
  background: url("Images/promotion-background.jpg") no-repeat 0 0/cover #fff;

  &__wrapper {
    display: flex;
    column-gap: 48px;
    justify-content: center;
    width: 100%;
    max-width: 1030px;
    padding: 131px 0 97px;
    margin: 0 auto;

    @include extra-large {
      position: relative;
      column-gap: 187px;
      padding: 131px 45px 97px;
    }

    @include medium {
      flex-wrap: wrap;
      column-gap: 0;
      justify-content: space-between;
      padding: 106px 15px 60px;
    }
  }

  &__title {
    margin: 61px 0 0;
    font-family: Raleway, sans-serif;
    font-size: 58px;
    font-weight: 500;
    line-height: calc(68 / 58);
    color: $blue-zodiac-color;
    text-align: center;
    text-transform: uppercase;

    @include extra-large {
      margin: 0;
    }
  }

  &__description {
    margin: 30px 0 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.45;
    color: $blue-zodiac-color;
    text-align: center;

    @include medium {
      margin: 20px 0 30px;
    }
  }

  &__button {
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 274px;

    @include extra-large {
      position: absolute;
      top: 159px;
    }

    @include medium {
      position: static;
      max-width: none;
      margin: 0 0 15px;
    }
  }

  &__card {
    &:nth-child(2) {
      order: -1;

      @include medium {
        order: 0;
      }
    }

    &:nth-child(3) {
      order: 1;
    }

    @include medium {
      width: calc((100% - 30px) / 2);
      min-width: 130px;

      img {
        width: 100%;
        min-width: 130px;
        height: calc((50vw - 30px) / (130 / 170));
        object-position: center;
      }
    }
  }

  .card-promotion {
    &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      text-decoration: none;
      transition: opacity 0.6s;

      span {
        font-size: 16px;
        line-height: 1.4;

        @include medium {
          font-size: 12px;
          line-height: 1.4;
        }
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
