.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 98px;
  margin: 0 auto;

  @include extra-large {
    padding: 0 45px;
  }

  @include medium {
    padding: 0 15px;
  }
}

.main {
  &__item {
    margin-bottom: 140px;

    @include extra-large {
      margin-bottom: 120px;
    }

    @include medium {
      margin-bottom: 80px;
    }
  }
}

.title-medium {
  font-size: 32px;
  line-height: 1.25;
  color: $blue-zodiac-color;
  font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
}

.paragraph-medium {
  font-size: 18px;
  line-height: 1.45;
  color: $blue-zodiac-color;
}
