.button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  min-height: 41px;
  padding: 0 28px;
  font-size: 16px;
  line-height: 1.4;
  color: $blue-zodiac-color;
  text-decoration: none;
  cursor: pointer;
  background: 0 0;
  border: 1px solid $blue-zodiac-color;
  border-radius: 2px;
  outline: 0;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: $cultured-color;
    background-color: $blue-zodiac-color;
  }

  &--gray {
    border: 1px solid $bombay-color;

    &:hover {
      color: $cultured-color;
      background-color: $bombay-color;
    }
  }
}
