extends ../layout
block head
  include ../components/head
  title Maroon Shop | Главная
block content
  main.main
    include ../components/promotion
    include ../components/best-sellers
    include ../components/banner
    include ../components/individual
    include ../components/history
    include ../components/follow
    include ../components/contacts

