doctype html
html(lang='ru')
  block head
  body.root
    block sprites
      include components/sprites
    block header
      include components/header
    block content
    block footer
      include components/footer
    block modals
    block scripts
      script(src="https://api-maps.yandex.ru/2.1/?apikey=7a784bc5-3aa9-4765-9e64-4e0320715b2f&lang=ru_RU" type="text/javascript")
      script(src=require('../scripts/index.js'))
