.main__item.banner
  div.banner__content
    h2.banner__title.title-medium Встречайте весну вместе с нами
    p.banner__description.paragraph-medium Попробуйте новую коллекцию ухаживающих средств для лица с SPF защитой
    a(href='#' aria-label='Подробнее').banner__button.button.button--gray Подробнее
