head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='Description', content='Maroon Shop - лучшие товары')
  link(rel='icon' type='image/x-icon' href=require('../../images/favicon.ico'))
  link(rel="stylesheet" href=require('../../styles/index.scss'))
  link(rel="stylesheet" href=require('swiper/swiper.min.css'))
