section.main__item.history
  div.history__wrapper
    h2.visually-hidden О Maroon
    p.history__philosophy.title-medium “Мы стремимся сделать уход за кожей доступным и приятным ритуалом для всех, кто хочет заботиться о себе и своём теле”
    a.history__button.button.button--gray(href='#' aria-label='Наша история') Наша история
