section.main__item.individual
  div.individual__wrapper.wrapper
    div.individual__text-content
      h2.individual__title.title-medium Индивидуальный уход
      p.individual__paragraph.paragraph-medium Не всегда очевидно, какие элементы и минералы необходимы коже, а многочисленные эксперименты с разными средствами только ухудшают ее качество.
      p.individual__paragraph.paragraph-medium Заполните анкету, и мы подберем уход, подходящий именно вам, учитывая ваш образ жизни, место жительства и другие факторы.
      a.individual__button.button.button--gray(href='#' aria-label='Заполнить анкету') Заполнить анкету
    picture
      source(type='image/jpeg' media='(max-width: 600px)' srcset=require('Images/individual.jpg'))
      img.individual__image(src=require('Images/individual.jpg') width=670 height=451 alt='Индивидуальный уход')
