include ../abstracts/mixins
section.main__item.promotion
  div.promotion__wrapper
    div.promotion__content
      h1.promotion__title Maroon
      p.promotion__description Натуральная косметика #[br]для бережного ухода за кожей
      a.promotion__button.button(href='#') Подробнее
    div.promotion__card.card-promotion
      picture
        source(type='image/jpeg' media='(max-width: 600px)' srcset=require('Images/image-promotion-1.jpg'))
        img(src=require('Images/image-promotion-1.jpg') width=330 height=442 alt='Уход для лица')
      a.card-promotion__link(href='#')
        span Уход для лица
        svg(height=12 width=26)
          use(xlink:href="#main-arrow")
    div.promotion__card.card-promotion
      picture
        source(type='image/jpeg' media='(max-width: 600px)' srcset=require('Images/image-promotion-2.jpg'))
        img(src=require('Images/image-promotion-2.jpg') width=330 height=442 alt='Уход для тела')
      a.card-promotion__link(href='#')
        span Уход для тела
        svg(height=12 width=26)
          use(xlink:href="#main-arrow")
